events {}
http {
    upstream backend {
         
          server 172.31.31.2:80;
	  server 172.31.37.253:80;
        
    }
 server {
   listen 80;
   location / {
     proxy_pass  http://backend;
   }
 }
}
